<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <base href="/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>{{item.name}}</title>
</head>
<body class="course">

    <div class="name-course">{{item.name}}</div>
    
    <div class="page-template">
            <div class="popopo">
                <iframe class="iframe-course"  src="https://rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
            </div>
            <div class="right_side_page">
                <div class="modules-course">{{item.modules}}</div>
                <div class="course_phrase" >{{item.course_phrase}}</div>
            </div>
    </div>
</body>
</html>


{# <p><strong>Domine programação do zero</strong> e tenha acesso às melhores oportunidades do mercado</p>  Launchbase frase #}
{# <p><strong>Treinamento imersivo</strong> nas tecnologias mais modernas de desenvolvimento web e mobile</p>  Gostack frase#}
{# <p><strong>Torne-se um programador desejado</strong> no mercado com esses cursos gratuitos</p> Starter frase #}