<!DOCTYPE html>
<html>

    <head>
        <title>Foodfy</title>
        
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="topIndex">
            <div class="Foodfy">
                <a href="/">Foodfy</a>
            </div>
            <div class="Sobre">
                <a href="/sobre">Sobre</a>
            </div>
            <div class="Receitas">
                <a href="/receitas">Receitas</a>
            </div>
        </div>
        
        {% block content %}

        {% endblock %}

    </body>    
</html>    