{% extends "layout.njk" %}

{% block content %}

        <div class="cards">
                {% for item in items %}
                        <div id="{{item.id}}" class="card">
                                <div class="food-cards"></div>
                                <div class="imagem"><img id="cardImg"  src="{{item.imageRecipes}}" alt="{{item.alt}}"></div>
                                <div class="name">{{item.name}}</div>
                                <div class="owner">{{item.owner}}</div>
                        </div>       
                {% endfor %}

                {% for item in items %}
                                <div id="{{item.id}}" class="card">
                                        <div class="food-cards"></div>
                                        <div class="imagem"><img id="cardImg"  src="{{item.imageRecipes}}" alt="{{item.alt}}"></div>
                                        <div class="name">{{item.name}}</div>
                                        <div class="owner">{{item.owner}}</div>
                                </div>       
                {% endfor %}

        </div>

    <div class="directFoodfy">
        Todos direitos reservados, receitas Foodfy.
    </div>

            <script src="/scripts.js"></script>
        
{% endblock %}